DATABASE_URL=postgresql+asyncpg://user:password@host:5432/dbname

ENV=dev
JWT_SECRET_KEY=change_me_in_production
ACCESS_TOKEN_EXPIRE_SECONDS=3600
REFRESH_TOKEN_EXPIRE_SECONDS=2592000

DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=Admin1234!

OTEL_ENDPOINT=signoz-otel-collector:4317
OTEL_EXPORTER_OTLP_INSECURE=true
